<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.merge.ttinclude"#>
<#
WriteServer("WAQSModel.Server.waqs", "WebApplication1", @"..\..\WAQSTest\ServerTemplates\");
#>












































































































































































































