<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.DAL.emdx.merge.ttinclude"#><#WriteServerDALEdmx(@"..\WAQSModel.edmx", "WebApplication1.DAL", @"..\..\WAQSTest\ServerTemplates\");#>
