<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.DAL.merge.ttinclude"#><#WriteServerDAL(@"..\WAQSModel.edmx", new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSTest\WAQSTest.sln", Csproj = @"..\WebApplication1.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath { Sln = @"..\..\WAQSTest\WAQSTest.sln", Csproj = @"..\WebApplication1.csproj", Folder = @"."}, @"WCFAsyncQueryableServices.Common", @"WCFAsyncQueryableServices.Specifications", @"WCFAsyncQueryableServices.Entities", @"WCFAsyncQueryableServices.DAL", @"WCFAsyncQueryableServices.DAL.Interfaces", @"WCFAsyncQueryableServices.Service.Interfaces", @"WebApplication1", @"WebApplication1.DAL.Interfaces", @"WebApplication1.DAL");#>
