<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.DTO.Specifications.merge.ttinclude"#><#WriteServerDTOSpecifications(new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSTest\WAQSTest.sln", Csproj = @"..\WebApplication1.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSTest\WAQSTest.sln", Csproj = @"..\WebApplication1.csproj", Folder = @"..\DTO\"} }, @"WCFAsyncQueryableServices.Specifications", @"WCFAsyncQueryableServices.DAL.Interfaces", @"WCFAsyncQueryableServices.Service.Interfaces", @"WebApplication1");#>
