<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Service.Interfaces.merge.ttinclude"#><#WriteServerServiceInterfaces(@"..\WAQSModel.edmx", new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSTest\WAQSTest.sln", Csproj = @"..\WebApplication1.csproj", Folder = @"..\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\..\WAQSTest\WAQSTest.sln", Csproj = @"..\WebApplication1.csproj", Folder = @"..\DTO\"} }, @"WebApplication1", new SpecificationPath { Sln = @"..\..\WAQSTest\WAQSTest.sln", Csproj = @"..\WebApplication1.csproj", Folder = @"."}, @"WCFAsyncQueryableServices.Specifications", @"WCFAsyncQueryableServices.Service.Interfaces", @"WCFAsyncQueryableServices.SerializableExpressions", @"WCFAsyncQueryableServices.DAL.Interfaces", @"WebApplication1", @"WebApplication1.Service.Interfaces", @"..\..\WAQSTest\ServerTemplates\");#>
