<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Fx.Specifications.merge.ttinclude"#><#WriteServerFxSpecifications("WCFAsyncQueryableServices.Specifications");#>
