<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Fx.Service.Interfaces.merge.ttinclude"#><#WriteServerFxServiceInterfaces("WCFAsyncQueryableServices.SerializableExpressions", "WCFAsyncQueryableServices.Service.Interfaces");#>
