<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Fx.WCFService.Contract.merge.ttinclude"#><#WriteServerFxWCFServiceContract("WCFAsyncQueryableServices.Service.Interfaces", "WCFAsyncQueryableServices.WCFService.Contract");#>
