<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Fx.Service.merge.ttinclude"#><#WriteServerFxService("WCFAsyncQueryableServices.SerializableExpressions", "WCFAsyncQueryableServices.Common", "WCFAsyncQueryableServices.Entities", "WCFAsyncQueryableServices.DAL.Interfaces", "WCFAsyncQueryableServices.Service.Interfaces", "WCFAsyncQueryableServices.Specifications", "WCFAsyncQueryableServices.Service");#>
