<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Fx.WCFService.ExceptionHandler.merge.ttinclude"#><#WriteServerFxWCFServiceExceptionHandler("WCFAsyncQueryableServices.WCFService", "WCFAsyncQueryableServices.WCFService.Contract", "WCFAsyncQueryableServices.Common", "WCFAsyncQueryableServices.WCFService");#>
