<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Fx.WCFService.Unity.merge.ttinclude"#><#WriteServerFxWCFServiceUnity("WCFAsyncQueryableServices.WCFService");#>
