<#@ include file="..\..\WAQSTest\ServerTemplates\WCFAsyncQueryableServices.VS12.NET45.Server.Fx.DAL.merge.ttinclude"#><#WriteServerFxDAL("WCFAsyncQueryableServices.Entities", "WCFAsyncQueryableServices.DAL.Interfaces", "WCFAsyncQueryableServices.Common", "WCFAsyncQueryableServices.DAL");#>
