<#@ include file="..\WPFClientTemplates\WCFAsyncQueryableServices.VS12.NET45.Client.WPF.merge.ttinclude"#>
<#
WriteClient("WAQSModel.Client.WPF.waqs", "WAQSTest", @"..\WPFClientTemplates\");
#>













































































































































































