<#@ include file="..\WPFClientTemplates\WCFAsyncQueryableServices.VS12.NET45.Client.WPF.DTO.Specifications.merge.ttinclude"#><#WriteClientDTOSpecifications(new SpecificationPath[] { new SpecificationPath { Sln = @"..\WAQSTest.sln", Csproj = @"..\..\WebApplication1\WebApplication1.csproj", Folder = @"..\..\WebApplication1\Specifications\"},  }, new SpecificationPath[] { new SpecificationPath { Sln = @"..\WAQSTest.sln", Csproj = @"..\..\WebApplication1\WebApplication1.csproj", Folder = @"..\..\WebApplication1\DTO\"} }, @"WCFAsyncQueryableServices.Specifications", @"WCFAsyncQueryableServices.DAL.Interfaces", @"WCFAsyncQueryableServices.Service.Interfaces", new Dictionary<string, string>(), @"WAQSTest.DTO");#>
