<#@ include file="..\WPFClientTemplates\WCFAsyncQueryableServices.VS12.NET45.Client.WPF.Fx.ComponentModel.merge.ttinclude"#><#WriteClientFxComponentModel("WCFAsyncQueryableServices.ComponentModel");#>
