<#@ include file="..\..\WAQSTest\WPFClientTemplates\WCFAsyncQueryableServices.VS12.NET45.Client.WPF.merge.ttinclude"#>
<#
WriteClient("WAQSModel.Client.WPF.waqs", "WpfApplication1", @"..\..\WAQSTest\WPFClientTemplates\");
#>













































































































































































